  body::-webkit-scrollbar {
    width:10px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: whitesmoke; /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(84, 84, 84, 0.4); /* color of the scroll thumb */
    border-radius: 0px; /* roundness of the scroll thumb */
    border: 0px solid rgb(14, 14, 14); /* creates padding around scroll thumb */
  }
  
  body::-webkit-scrollbar-thumb:hover { 
    background-color: rgba(41, 41, 41, 0.4);
   }  
  
  *:not(input):not(textarea) {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
    }
   
  textarea {
    resize: none;
  }
  
  audio::-webkit-media-controls-mute-button {
    display: none !important;
  }
  
  audio::-webkit-media-controls-volume-slider {
    display: none !important;
  }