body {
    background-color: white;
  }
  
  p {
    color: red;
    text-align: center;
   
  }
  
  #text_conv_area {
    width: 60%;
    height: 100%;
    border: 3px solid rgb(40, 39, 39);
    padding: 5px;
    font-size: 1.2em;
    overflow: auto;
    text-align: center
  }
  
  
  #usermsg {
    width: 30%;
    height: 100%;
    border: 3px solid rgb(40, 39, 39);
    padding: 5px;
    font-size: 1.2em;
    overflow: auto;
    text-align: center
  }



input[type=text] {
    font-size: 5px;
    padding:5px; 
    border:2px solid rgb(170, 170, 170); 
    -webkit-border-radius: 5px;
    border-radius: 10px;
    font-weight: 600;
}

input[type=text]:focus {
    border-color:rgb(195, 193, 193);
    font-size: 10px;
    font-weight: 600;
}

input[type=submit] {
    padding: 3px 10px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 10px;
    font-weight: 600;
}